<!-- Slanted divider -->
<div class="relative h-16 mt-[1px]">
    <svg class="absolute w-full h-16" preserveAspectRatio="none" viewBox="0 0 1440 48" fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <path d="M0 48H1440V0L0 48Z" fill="#001b49" />
    </svg>
</div>

<!-- Contractor Responsibility Assessment Reporting section -->
<div class="bg-[#001b49] text-white">
    <div class="container mx-auto px-4 py-16 flex justify-center flex-col items-center">
        <h2 class="text-5xl font-bold mb-4">
            <span class="text-white">Our </span><span class="text-[#4891ce]">Team</span>
        </h2>
        <hr class="border-t-2 border-gray-300 mt-6 mb-8 w-12">
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-16">
        <!-- Brian Yost -->
        <div class="flex flex-col items-center">
            <div class="w-48 h-48 rounded-full overflow-hidden mb-4">
                <img src="/images/brian-yost.png" alt="Brian Yost" class="w-full h-full object-cover">
            </div>
            <h3 class="text-2xl font-semibold text-white">Brian Yost</h3>
            <p class="text-sm text-gray-300">Service Delivery Manager</p>
        </div>

        <!-- Keith Langley -->
        <div class="flex flex-col items-center">
            <div class="w-48 h-48 rounded-full overflow-hidden mb-4">
                <img src="/images/keith-langley.png" alt="Keith Langley" class="w-full h-full object-cover">
            </div>
            <h3 class="text-2xl font-semibold text-white">Keith Langley</h3>
            <p class="text-sm text-gray-300">BI Solutions</p>
        </div>

        <!-- Bryan Ferrell -->
        <div class="flex flex-col items-center">
            <div class="w-48 h-48 rounded-full overflow-hidden mb-4">
                <img src="/images/bryan-ferrell.png" alt="Bryan Ferrell" class="w-full h-full object-cover">
            </div>
            <h3 class="text-2xl font-semibold text-white">Bryan Ferrell</h3>
            <p class="text-sm text-gray-300">AWS Manager</p>
        </div>

        <!-- Pauline Autry -->
        <div class="flex flex-col items-center">
            <div class="w-48 h-48 rounded-full overflow-hidden mb-4">
                <img src="/images/PaulineAutry-270x300-modified.png" alt="Pauline Autry" class="w-full h-full object-cover">
            </div>
            <h3 class="text-2xl font-semibold text-white">Pauline Autry</h3>
            <p class="text-sm text-gray-300">Service Data Analyst</p>
        </div>

        <!-- Ali Bousselot -->
        <div class="flex flex-col items-center">
            <div class="w-48 h-48 rounded-full overflow-hidden mb-4">
                <img src="/images/ABousselotCircle-pv214y9ty3o0ahxnyj5xx728r00gxomd9cdxwu2ta0.png" alt="Ali Bousselot" class="w-full h-full object-cover">
            </div>
            <h3 class="text-2xl font-semibold text-white">Ali Bousselot</h3>
            <p class="text-sm text-gray-300">Applications Engineer</p>
        </div>

        <!-- Alex Canfield -->
        <div class="flex flex-col items-center">
            <div class="w-48 h-48 rounded-full overflow-hidden mb-4">
                <img src="/images/alex-canfield-new.png" alt="Alex Canfield" class="w-full h-full object-cover">
            </div>
            <h3 class="text-2xl font-semibold text-white">Alex Canfield</h3>
            <p class="text-sm text-gray-300">Data Insight Generator</p>
        </div>
    </div>
    </div>
</div>

<!-- Bottom slanted divider -->
<div class="relative h-16 transform rotate-180 mt-[-1px] md:mt-0">
    <svg class="absolute w-full h-16" preserveAspectRatio="none" viewBox="0 0 1440 48" fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <path d="M0 48H1440V0L0 48Z" fill="#001b49" />
    </svg>
</div>